
html {
	/* background-image: linear-gradient(white, violet); 
	height: auto;
	min-height: 100%;
	*/
	margin: 0px;
	padding: 0px;
}

h1 {
	padding: 8px;
	border-color: indigo;
	background-color: rgba(192, 192, 192, 0.5);
	/* background-color: silver; */
	border-style: none none none solid;
	border-width: 2mm;
	width: auto;
	display: inline-block;
	
	border-radius: 2mm;
}

a {
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 4px;
	margin: 4px;
	border-radius: 0.5em;
}

header, footer {
	padding: 8px;
	background-color: lightgrey;
	width: 50vmax;
	border-width: 2mm;
	border-color: indigo;
	border-style: none none none solid;
	
	border-radius: 2mm; 
}

/*
body > div, html > div, h1, header {
	margin-left: auto;
	margin-right: auto;
	box-shadow: grey -8px 8px 6px;
	width: 90%;
}

body > nav {
	margin-left: auto;
	margin-right: auto;
}
*/

body > div {
	min-width: 90vmin;
}

div {
	/*filter: drop-shadow(16px, 16px, black);*/
	padding: 8px 16px 20px 16px;
	background-color: rgba(192, 192, 192, 0.5);
	/*background-color: rgba(0, 0, 0, 0.1); */
	/* background-color: silver; */
	border-width: 2.5mm;
	border-color: indigo;
	border-style: none none none solid;
	margin: 20px 20px 20px 0px;
	
	border-radius: 2.5mm;
	width: 80%;
	
	overflow: auto;
}

div > div {
	border-color: color-mix(in srgb, indigo, white 25%);
	width: auto;
}

div > div > div {
	border-color: color-mix(in srgb, indigo, white);
}

body {
	width: auto;
	max-width: 0.5vmax;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(255, 255, 255, 0.1); */
}

form {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3mm;
	padding: 8px;
	margin: 4px;
	display: inline-block;
}

input, label, select {
	display: grid;
	padding-bottom: 4px;
	padding-top: 4px;
}

input[type="submit"] {
	background-color: indigo;
	border-radius: 3mm;
	border-style: none;
	color: white;
	padding: 6px 16px 6px 16px;
	margin-top: 8px;
	margin-bottom: 4px;
}

input[type="file"] {
	border-radius: 3mm;
	border-style: dashed;
	border-width: 2px;
	padding: 24px;
}

p {
	padding: 4px;
	border-color: grey;
	border-width: 1px;
	border-style: none none solid none;
	/* display: table; */
}

table {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.5em;
	padding: 6px;
}

table tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

td, th {
	padding: 4px;
	/* border-style: none none dotted none; */
	/* border-width: 1px; */
}

textarea {
	border-radius: 2mm;
	/* border-color: indigo; */
	border-style: solid;
	border-color: transparent;
	border-width: 4px;
	background-color: rgba(255, 255, 255, 0.8);
}

pre {
	white-space: pre-wrap;
	border-style: none none none solid;
	border-width: 0.5em;
	border-color: darkviolet;
	background-color: rgba(255, 255, 255, 0.8); 
	display: inline;
	padding: 4px;
	border-radius: 0.5em;
}

@media (orientation: portrait) {
	html {
		font-size: 12mm;
	}
	table {
		font-size: 0.6em;
	}
	input, textarea {
		font-size: 1em;
	}
}

