Dear %USER_NAME%, welcome to Project Pulse.
Visit https://www.project-pulse.com/login.html to log in.

ID: %USER_ID%
Password: %PASSWORD%

Once signed in, to change your password go to | Home > Profile | (https://www.project-pulse.com/manage-user-profile.beryl)
