You are part of project '%PROJECT%' and have yet to submit a report for this period.
There is %TIME_LEFT% left.
To submit a report, go to https://www.project-pulse.com/%SUBMIT_REPORT_URL% to submit a report.
